<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="band.mlgb.kfun">

    <uses-permission android:name="android.permission.CAMERA" />
    <!--take higher resolution pic-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LangIdActivity"
            android:label="@string/lang_detect">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mlgb.band"
                    android:pathPrefix="/langid"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SmartReplyActivity"
            android:label="@string/smart_reply">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mlgb.band"
                    android:pathPrefix="/smartreply"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TranslatorActivity"
            android:label="@string/translate">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mlgb.band"
                    android:pathPrefix="/translate"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".camerax.CameraXActivity"/>
        <activity android:name=".IDDetectorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--
        file provider for saving pictures taken
        exported false makes it private
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="band.mlgb.kfun.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>